* {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}
body {
    background-image: url('../img/Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-width: 100%;
    min-height: 100%;
    padding-top: 5%;
}
.header .navbar {
    font-size: 30px;
    font-weight: 600;
}
.header .navbar .nav_panel {
    text-decoration: none;
}
.content {
    margin-top: 100px;
}
.content .title {
    margin: 0;
    font-size: 110px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-transform: uppercase;
  }
.content .text {
    margin-top: 50px;
    width: 635px;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }
.content .learn_more {
    margin-top: 10%;
    margin-right: 3%;
    width: 185px;
    height: 55px;
    font-size: 20.5px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    border-radius: 26.4px;
    color: #313130;
    outline: none;
    cursor:pointer;
    border: none;
    text-transform: uppercase;
}